
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    color: #032942;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #032942;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #03385c;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

th {
    background-color: #032942;
    color: #fff;
}

a {
    color: #032942;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #03385c;
}

.button-container {
    text-align: center; 
    margin-top: 20px;
}

